<footer class="site-footer">
  <div class="footer-links">
    <%= link_to "プライバシーポリシー", "#" %>
    <%= link_to "FURIMA利用規約", "#" %>
    <%= link_to "特定商取引に関する表記", "#" %>
  </div>
  <div class="footer-logo">
    <%= image_tag "furima-logo-color.png", alt: "FURIMA", class: "footer-logo-img" %>
  </div>
</footer>
